/* You can add global styles to this file, and also import other style files */
@import '../node_modules/dhtmlx-gantt/codebase/dhtmlxgantt.css';

html,
body {
  height: 100%;
  margin: 0;
}

.gantt_scale_line:first-child {
  border-top: none;
  display: none;
}

.member-text {
  width: 28px;
  display: inline-block;
  height: 28px;
  font-size: 12px;
  font-weight: 700;
  line-height: 28px;
  background-color: #dfe3e6;
  border-radius: 25em;
  color: #17394d;
}



.member-text>a {
  margin-left: 2px;
  text-decoration: none;
}

.avatar {
  top: 4px;
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 25em;
  overflow: hidden;
}
